.html,
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputText {
    width: 70vw;
    height: 6rem;
    border: none;
    overflow: hidden;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #ffc804;
}

.inputText::placeholder {
    letter-spacing: 0;
    font-style: italic;
    opacity: 0.3;
    color: lightgray;
}

.input-container:hover .inputText::placeholder{
    opacity: 0.9;
    transition: opacity 0.3s ease-out;
}

.inputText:focus {
    outline: none;
}

.inputWord {
    margin-right: 5rem;
    width: 7rem;
    border: 0;
    font-family: Roboto;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #292929;
}

.inputWord::placeholder {
    opacity: 0.5;
    color: lightgray;
}

.inputWord:focus {
    outline: none;
}

.input-container {
    display: flex;
    margin: 5rem 0;
    justify-content: center;
    align-items: center;
}

.default-inputs {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 5rem;
}

.card1 {
    display: block;
    position: relative;
    max-width: 350px;
    height: fit-content;
    background-color: #fcfcfc;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 1rem 3rem;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #262626;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover::before {
    transform: scale(21);
    cursor: pointer;
}

.card1:hover .card-description {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card1:hover .card-heading {
    transition: all 0.3s ease-out;
    color: #ffc804;
}

.card-heading {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    font-family: Roboto;
    margin-bottom: 0.7rem;
}

.card-description {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
    line-height: 20px;
    color: #3a3a3a;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #1e1f1f;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -0.6rem;
    margin-right: -0.5rem;
    color: white;
    font-family: courier, sans;
}

.script-output {
    height: fit-content;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border: 3px solid #ffc804;
}

.css-typing {
    font-family: Roboto;
    font-weight: 500;
    color: #292929;
    font-size: 24px;
    letter-spacing: 0.08rem;
}

.download {
    width: 180px;
    height: 44px;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(236, 236, 3, 0.18);
    border: none;
    background: #ffc804;
    margin-right: 5px;
    margin-bottom: 3rem;
    cursor: pointer;
}
.btn-download-text {
    color: black;
    font-size: larger;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 0.1rem;
    font-family: "Work Sans", sans;
  }

.main_container {
    margin-left: -10rem;
}

.prop {
    position: absolute;
    width: 35rem;
    right: 18rem;
    top: 13rem;
}

.content {
    padding-top: 3rem;
    width: fit-content;
}

.third-slide {
    /* height: 100%; */
    position: relative;
}

.third-heading {
    padding: 2.5rem;
}

.prop3a {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(180deg);
    width: 35rem;
    z-index: -1;
  }

.description {
    font-size: large;
    margin: 2rem 0;
    font-weight: normal;
    width: 55rem;
    height: auto;
    font-family: "Roboto";
}

.reference {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.subtitle {
    font-family: Poppins;
    margin-bottom: 0;
    font-weight: bold;
}

.title {
    font-family: "Work Sans";
    font-weight: bolder;
    width: fit-content;
}
  
.stat-circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    text-align: center;
}

.inner-circle {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphs {
    margin-top: 5rem;
}

.graph {
    margin: 2rem 8rem;
}
  

.predict {
    width: 180px;
    height: 44px;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(236, 236, 3, 0.18);
    border: none;
    background: #ffc804;
    margin-right: 5px;
    cursor: pointer;
}

.btn-predict-text {
    color: black;
    font-size: larger;
    font-weight: bold;
    font-family: "Work Sans", sans;
}
  

@media screen and (max-width: 1024px) {
    .prop {
        display: none;
    }
}
  