<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simpsons - Character-Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Character-Recon.css') }}" />
    <!-- GOOGLE ROBOTO & DM SERIF FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&family=Reem+Kufi&family=Oswald&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body>
      {% block content  %}{% endblock %}
  </body>

  <footer>
    <script type="text/javascript" src = "{{ url_for('static', filename='js/character-recon-script.js') }}"></script>
  </footer>
</html>
